@media screen and (min-width: 992px ){
	body{
		margin : 2%;
		padding: 2%;
	}
	div>header{
		text-align: center;
		margin-bottom: 2%;
	}

	#header{
			background-color: gray;
	}
	div#header button{
		display: inline-block;
		float: right;
		margin: 2%;
	}
	h1,#header button{
		display: inline-block;
	}
	button>img{
		width: 20px;
		height: 20px;
	}
	h1, #header button{
		display: inline-block;
	}
	
	li{
		list-style-type: none;
		border: 1px solid black;
		border-collapse: collapse;
	}
	a{
		text-decoration: none;
		color: 
	}
	div#dc{
		display: none;
		width: 100%;
		background-color: white;
		text-align: center;
	}
	
	h2{
		text-align: center;
	}

	div.one>span{
		float: right;
		text-align: center;
		width: 30%;
		border: 1px solid black;
		background-color: red;
		color: white;
	}
	span#c{
		background-color: grey;
		font-size: 20px;
		color: black;
		font-weight: bolder;
	}
	span#b{
		font-size: 20px;
		font-weight: bolder;
	}
	span#s{
		font-weight: bolder;
		font-size: 20px;
		background-color: lightyellow;
		color: black;
	}
	div.one{
		background-color: gray;
		text-align: justify;
		margin: 0% 1% 1% 1%;
		padding: ;
		height: 98em;
		width: 30%;
		display: inline-block;
		float: left;
	}
	p{
		font-family: sans-serif,serif,helvatica;
	}
}


